<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="produto">
      <h2 data-cy="produtoDetailsHeading"><span jhiTranslate="ecommerceSimplesApp.produto.detail.title">Produto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ produto.id }}</span>
        </dd>
        <dt><span jhiTranslate="ecommerceSimplesApp.produto.nome">Nome</span></dt>
        <dd>
          <span>{{ produto.nome }}</span>
        </dd>
        <dt><span jhiTranslate="ecommerceSimplesApp.produto.descricao">Descricao</span></dt>
        <dd>
          <span>{{ produto.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="ecommerceSimplesApp.produto.fotoUrl">Foto Url</span></dt>
        <dd>
          <span>{{ produto.fotoUrl }}</span>
        </dd>
        <dt><span jhiTranslate="ecommerceSimplesApp.produto.sku">Sku</span></dt>
        <dd>
          <span>{{ produto.sku }}</span>
        </dd>
        <dt><span jhiTranslate="ecommerceSimplesApp.produto.ean">Ean</span></dt>
        <dd>
          <span>{{ produto.ean }}</span>
        </dd>
        <dt><span jhiTranslate="ecommerceSimplesApp.produto.criado">Criado</span></dt>
        <dd>
          <span>{{ produto.criado | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ecommerceSimplesApp.produto.preco">Preco</span></dt>
        <dd>
          <span>{{ produto.preco }}</span>
        </dd>
        <dt><span jhiTranslate="ecommerceSimplesApp.produto.precoPromocional">Preco Promocional</span></dt>
        <dd>
          <span>{{ produto.precoPromocional }}</span>
        </dd>
        <dt><span jhiTranslate="ecommerceSimplesApp.produto.totalEstoque">Total Estoque</span></dt>
        <dd>
          <span>{{ produto.totalEstoque }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/produto', produto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
